-
  var cards = {
    0: {
      image: 'images/06elementary.png',
      h1: '06',
      h2: 'Elementary'
    },
    1: {
      image: 'images/negotiation.png',
      h2: 'Negotiations'
    },
    2: {
      image: 'images/mitarbeiterf-hrung-und.png',
      h2: 'Mitarbeiterführung Und Managment asdasdasdasdasda',
      link: 'learn more'
    },
    3: {
      image: 'images/upper-advanced.png',
      h1: '16',
      h2: 'Upper Advanced'
    },
    4: {
      image: 'images/toeic.png',
      h2: 'TOEIC'
    }
  };
  var block_text = 'This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.';
section.section-cards
    .bg-warm-paper.p-y-3
      .container
          h2 4.4 4.4 CONTENT CARDS VARIATIONS & teacher cards
          .p-y-2
          .row.example-content-cards
            .col-md-4
              p GE REGULAR
            .col-md-4
              p BUSINESS & STT
            .col-md-4
              p INDUSTRY
          - n = 0
          while n < 2
            .row(class=n++)
              each val, index in [0 + 3*(n-1), 1 + 3*(n-1), 2 + 3*(n-1)]
                if val < 5
                  .col-md-4
                    .card.card-inverse.ef-card
                      img.card-img-top(src="",style="background-image:url(" + cards[val].image + ")", alt="")
                      .card-img-overlay
                        if cards[val].h1
                          h1.card-text.font-weight-medium #{cards[val].h1}
                        h2.card-text.font-weight-lighter #{cards[val].h2}
                      .card-block #{block_text}
                      if cards[val].link
                        .ef-card-link
                          a(href="javascript:;") #{cards[val].link}
          .p-y-2
          .row.example-content-cards
            .col-md-4
              p unCompleted course Normal/Hover
            .col-md-4
              p Completed course Normal/Hover
            .col-md-4
              p CURRENT course Normal/Hover
          .row
            .col-md-4
              .card.card-inverse.ef-card.ef-uncompleted-course
                img.card-img-top(src="",style="background-image:url('images/toeic.png')", alt="")
                .card-img-overlay
                  h1.card-text.font-weight-medium 01
                  h2.card-text.font-weight-lighter Beginner
                .card-block This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.
            .col-md-4
              .card.card-inverse.ef-card.ef-completed-course
                img.card-img-top(src="",style="background-image:url('images/toeic.png')", alt="")
                .card-course-status
                  img(src="images/checked@2x.png", alt="")
                .card-img-overlay
                  h1.card-text.font-weight-medium 01
                  h2.card-text.font-weight-lighter Beginner
                .card-block This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.
            .col-md-4
              .card.card-inverse.ef-card.ef-current-course
                img.card-img-top(src="",style="background-image:url('images/toeic.png')", alt="")
                .card-course-status Your currrent course
                .card-img-overlay
                  h1.card-text.font-weight-medium 01
                  h2.card-text.font-weight-lighter Beginner
                .card-block This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.
                .ef-card-link
                  a(href="javascript:;") learn more
          .p-y-2
          .row.example-content-cards
            .col-md-4
              p unCompleted course  Selected/Hover
            .col-md-4
              p Completed course  Selected/Hover
            .col-md-4
              p CURRENT course  Selected/Hover
          .row
            .col-md-4
              .card.card-inverse.ef-card.ef-uncompleted-course.card-selected
                img.card-img-top(src="",style="background-image:url('images/toeic.png')", alt="")
                .card-img-overlay
                  h1.card-text.font-weight-medium 01
                  h2.card-text.font-weight-lighter Beginner
                .card-block This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.
            .col-md-4
              .card.card-inverse.ef-card.ef-completed-course.card-selected
                img.card-img-top(src="",style="background-image:url('images/toeic.png')", alt="")
                .card-course-status
                  img(src="images/checked.png", alt="")
                .card-img-overlay
                  h1.card-text.font-weight-medium 01
                  h2.card-text.font-weight-lighter Beginner
                .card-block This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.
            .col-md-4
              .card.card-inverse.ef-card.ef-current-course.card-selected
                img.card-img-top(src="",style="background-image:url('images/toeic.png')", alt="")
                .card-course-status Your currrent course
                .card-img-overlay
                  h1.card-text.font-weight-medium 01
                  h2.card-text.font-weight-lighter Beginner
                .card-block This course will teach you the basics of effective military communication, including how to give briefings and to write orders, radio messages and reports.
                .ef-card-link
                  a(href="javascript:;") learn more
