.container
    h2 2.1 COLOURS
    .row.m-b-3
        .col-md-push-6.col-md-6
            dfn.text-gray-light
                | The primary application colours are neutralised to allow the minimal use of primary blue to draw focus where required.
    .row
    -
        var i = 0;
        var primary_colours = {
        'BLACK': '#000000',
        'BLUE/CTA': '#0078FF',
        'WARM PAPER': '#F1EAE1',
        'WHITE': '#FFFFFF',
        'EF PINK': '#FF0084',
        'GREEN PEA/SUCCESS': '#74D17F',
        'TOMATITO/ERROR': '#DE4C4C',
        'MATTE GOLD/REWARD': '#C9B188',
        'EGGSHELL/CARDS': '#FAF7F2',
        'RAIN/DISABLED': '#8B8B8B',
        'DARK GRAY/GNDS': '#666666'
        };

    each colour, name in primary_colours
        - var color_name = name.replace(/\s/, '-').replace(/\/.+/, '').toLowerCase();
        - var display_name = name.toUpperCase().replace(/(?=\/)/, '\n');
        if ++i === 6
            .clearfix
        .col-md-2.col-sm-4.col-xs-6
            .color-box(class='bg-' + color_name)
                .color-label
                    span.font-weight-bold #{display_name}
                    br
                    case color_name
                        when 'white'
                        when 'eggshell'
                        when 'warm-paper'
                            span.text-gray-dark #{colour}
                        default
                            span #{colour}
    .row.m-b-3
        .col-md-push-6.col-md-6
            dfn.text-gray-light
                | The following colours have been used and developed for learning materials and classroom materials.

    .row
    -
        var i = 0;
        var extended_colours = {
        'AQUA': '#09B79D',
        'TOXIC-MINT': '#38DDB9',
        'OLIVE': '#98D01F',
        'MANGO': '#F9BA2D',
        'TANGERINE': '#F79546',
        'SUMRF': '#3BA0DC',
        'BARNEY': '#8B6DB2',
        'PINK': '#F66F9F',
        'BORING-PINK': '#F1385A',
        'ORANGINE': '#FF6100',
        };

    each colour, name in extended_colours
        - var color_name = name.replace(/\s/, '-').replace(/\/.+/, '').toLowerCase();
        - var display_name = name.toUpperCase().replace(/(?=\/)/, '\n');
        .col-md-2.col-sm-4.col-xs-6
            .color-box(class='bg-' + color_name)
                .color-label
                    span.font-weight-bold #{display_name}
                    br
                    span #{colour}